# Ignore node_modules directory
node_modules/

# Ignore logs
*.log

# Ignore environment files (e.g. .env)
.env

# Ignore npm debug files
npm-debug.log*

# Ignore build output directories (e.g. dist or build)
dist/
build/

# Ignore OS-specific files (macOS and Windows)
.DS_Store
Thumbs.db
